#menu li{
		float: left;
		margin: 10px;
		padding: 2px;
		border: 1px solid;
		font-size: 20px;
		border-color: darkblue;
	}
	#menu2 li{
		float: left;
		margin: 20px;
		padding: 2px;
		font-size: 20px;
		border-color: darkblue;
		position: relative;
		bottom:150px;
        left:150px;
	}

	#tt{
		background-color: #DC143C;
		margin-top: 250px;
		clear: both;
		height: 250px;
		color: white;
		font-size: 30px;
		text-transform: uppercase;
	}

#end{
	margin-left: 300px; 
}

	
	a{
		text-decoration: none;
		color: darkblue;
	}
	a:hover{
		background-color: blue;
		color: white;
	}

	h1{
		
		
		margin-bottom: 5px;
		text-align: center;
		width: 1000px;
		height: 7px;
		margin-top: 40px;
		font-size: 40px;

	}
	h3{
		
		margin-bottom: 0px;
		text-align: center;
		width: 950px;
		font-size: 20px;
		

	}

	h2{
		
		margin-bottom: 0px;
		text-align: right ;
		width: 1045px;
		height: 15px;
		font-size: 70px;
		margin-top: 200px;
		

	}

	#l1{
	color: white;
}

	

	#main div{
 	 float:left;
	}

	ul{
		list-style-type: none; 
		display: inline-block;
	}

	body{
		background-color: lightgray;
	}
#titleresume{

	margin-bottom: 5px;
	margin-left: 50px;
		text-align: center;
		width: 1000px;
		height: 7px;
		margin-top: 40px;
		font-size: 100px;
		color: darkgrey;


}

#professional{

margin-left: 385px; 


}
#info{
	font-size: 40px;
}
#details{
	font-size: 30px;
}
	
	table, th, td {
   border: 1px solid black;
}
ul.achieve{
	list-style-type: square;

}	
#p1{
	margin-right:20px; 
	margin-top: 0px;
}

